// imports

@import "common"

//  resets

@import "reset"
reset()

ul
  list-style none

ol
  list-style none


// colors

bar = #2d2d2d
barHeight = 30px

// global stuff

.stackContent,
#nav li,
body,
input,
select,
textarea
  font: 13px Arial,sans-serif 


// stuff

.test
  border 1px solid black
  border-radius 6px
  padding 4px
  box-shadow 5px 5px 5px #888;

#header
  background-color bar
  color #ccc
  height barHeight
  padding 0 3px
  text-align left

  li
    float: left
    display list-item

    a
      display: block
      float: left
      padding-top 5px
      padding-right 6px
      padding-left 6px

#mainNav
  .marker
     border-top 2px solid transparent
     display block
  .active
     font-weight bold
     color white
     .marker
       border-top 2px solid #DD4B39

#rightNav
  float right

#cards
  background-image url(/images/holes-small-light.png)
  padding 10px 10px 10px 10px
  box-shadow inset 3px 3px 3px rgba(0, 0, 0, 0.50), inset -3px -3px 3px rgba(255, 255, 255, 0.25)

.card
  display block
  width 180px
  height 100px
  margin 4px
  padding 18px
  border-radius 12px
  box-shadow 5px 5px 5px rgba(0, 0, 0, 0.50);

.card-size-0
  width 50px
  height 50px

.card-size-1
  width 100px
  height 50px

.card-size-2
  width 200px
  height 50px

.card-size-3
  width 250px
  height 50px
        

.card-group-0
  background-color #0f6

.card-group-1
  background-color #f90

.card-group-2
  background-color #06f

.card-group-3
  background-color #3f0

.card-group-4
  background-color cyan
